<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="styles-card-with-header.css">
    </link>
</head>

<body>
    <div class="card-with-header">
        <div class="card-image">
            <img src="https://picsum.photos/id/289/300/200" alt="Incredible Nature">
        </div>
        <div class="card-header">
            <div class="card-title">Incredible Nature</div>
            <div class="card-subtitle">random click</div>
        </div>
        <div class="card-content">Visit ten places on our planet that are undergoing the biggest changes today.</div>
        <div class="card-footer">
            <div class="card-button"><button>Read</button></div>
            <div class="card-button"><button>Bookmark</button></div>
            <div class="card-button">
                <img src="icons8-heart-50.png" alt="Like" />
            </div>
            <div class="card-button">
                <img src="icons8-share-24.png" alt="Share" />
            </div>
            <div class="card-button">
                <img src="icons8-menu-vertical-24.png" alt="More Options" />
            </div>
        </div>
    </div>

</body>

</html>