.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: darkblue;
    height: 4rem;
    padding: 1rem
}

.header-title {
    font-size: 2em;
    color: white;
}

.links-container {
    font-size: 1.5rem;
    color: lightblue;
}

span {
    margin-right: 1rem;
}

.content {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600;
}