.header-container {
    z-index: 5;
    background-color: pink;
}

.main-container {
    /* z-index: 2; */
    background-color: skyblue;
    width: 100%;
    height: 500px;
}

.toast {
    position: absolute;
    background-color: greenyellow;
    margin-left: 45%;
    margin-top: 25rem;
    z-index: 1;
    padding: 1rem;
}