.header-container {
    z-index: 5;
    background-color: pink;
    height: 3rem;
    padding: 1rem;
}

.main-container {
    /* z-index: 2; */
    background-color: skyblue;
    width: 100%;
    height: 500px;
    padding: 1rem;
}

.toast {
    position: absolute;
    background-color: greenyellow;
    margin-left: 45%;
    margin-top: -1rem;
    z-index: 1;
    padding: 1rem;
    display: flex;
    justify-content: center;
}